@import "./font.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #4e9845;
  --color-primary-dark: #3e7e2a;
  --color-primary-light: #a6cba2;

  --text: white;
  --text-dark: black;
  --text-grey: #999999;

  --background: white;
  --background-green-light: #edf5ec;

  --border-radius: 48px;
  --border-radius-small: 20px;

  --base-input-height: 48px;

  --font-size-base: 14px;
  --font-size-small: 12px;
  --font-size: var(--font-size-base);
  --font-size-large: 24px;

  --padding-tiny: 5px;
  --padding-small: 7px;
  --padding-smaller: 13px;
  --padding: 16px;
  --padding-large: 24px;
}

body {
  margin: 0;
  padding: 0;

  @include montserrat;
}
